In [1]:
# Importando as libs
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Lendo todos os dados
customers    = pd.read_csv('olist_customers_dataset.csv')
orders_items = pd.read_csv('olist_order_items_dataset.csv')
orders       = pd.read_csv('olist_orders_dataset.csv')

In [14]:
# Juntando dodas as tabelas em uma tabela denormalizada
merged = orders.merge(customers,on='customer_id')\
    .merge(orders_items,on='order_id')

## Conectando ao banco sql

In [3]:
engine = create_engine('postgresql://postgres:mysecretpassword@127.0.0.1:5432/postgres')

In [13]:
# TEstando a conexão com o banco de dados
customers.to_sql('customers',engine,index=False,if_exists='append')
orders.drop_duplicates(subset=['order_id']).to_sql("orders",engine,index=False,if_exists='append')
orders_items.drop_duplicates(subset=['order_id']).to_sql("order_itens",engine,index=False,if_exists='append')

In [45]:
orders.drop_duplicates(subset=['order_id'])qq

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [31]:
orders.merge(orders_items,on='order_id').groupby('customer_id').apply(lambda x: x.to_json())

customer_id
00012a2ce6f8dcda20d059ce98491703    {"order_id":{"77630":"5f79b5b0931d63f1a42989eb...
000161a058600d5901f007fab4c27140    {"order_id":{"11269":"a44895d095d7e0702b6a162f...
0001fd6190edaaf884bcaf3d49edf079    {"order_id":{"74560":"316a104623542e4d75189bb3...
0002414f95344307404f0ace7a26f1d5    {"order_id":{"48874":"5825ce2e88d5346438686b0b...
000379cdec625522490c315e70c7a9fb    {"order_id":{"6612":"0ab7fb08086d4af9141453c91...
                                                          ...
fffcb937e9dd47a13f05ecb8290f4d3e    {"order_id":{"39649":"620ddc9fbe3e445676a8e71d...
fffecc9f79fd8c764f843e9951b11341    {"order_id":{"17067":"814d6a3a7c0b32b2ad929ac6...
fffeda5b6d849fbd39689bb92087f431    {"order_id":{"107133":"8c855550908247a7eff5028...
ffff42319e9b2d713724ae527742af25    {"order_id":{"48956":"83b5fc912b2862c5046555de...
ffffa3172527f765de70084a7e53aae8    {"order_id":{"83649":"d0e7be325a1c986babc4e1cd...
Length: 98666, dtype: object

In [8]:
list(orders)

AttributeError: 'DataFrame' object has no attribute 'to_list'

In [7]:
customers.iloc[:4].to_json(orient='records')

'[{"customer_id":"06b8999e2fba1a1fbc88172c00ba8bc7","customer_unique_id":"861eff4711a542e4b93843c6dd7febb0","customer_zip_code_prefix":14409,"customer_city":"franca","customer_state":"SP"},{"customer_id":"18955e83d337fd6b2def6b18a428ac77","customer_unique_id":"290c77bc529b7ac935b93aa66c333dc3","customer_zip_code_prefix":9790,"customer_city":"sao bernardo do campo","customer_state":"SP"},{"customer_id":"4e7b3e00288586ebd08712fdd0374a03","customer_unique_id":"060e732b5b29e8181a18229c7b0b2b5e","customer_zip_code_prefix":1151,"customer_city":"sao paulo","customer_state":"SP"},{"customer_id":"b2b6027bc5c5109e529d4dc6358b12c3","customer_unique_id":"259dac757896d24d7702b9acbbff3f3c","customer_zip_code_prefix":8775,"customer_city":"mogi das cruzes","customer_state":"SP"}]'